.dulezite,
.partner {
    display: none;
}

#page {
    border: 1px solid black;
}

#page .columns {
    padding: 15px 20px 0 20px;
}

#month-calendar {
    width: 100%;
}

#month-calendar,
#month-calendar td,
#month-calendar th {
    text-align: center;
}

#month-calendar td {
    padding: 0;
}

#month-calendar td:hover a.accessable-day {
    color: white;
    background-color: #008cba;
}

#month-calendar td:hover a.accessable-day > div {
    background-color: #008cba;
}

.today > div {
    border: 2px solid #008cba;
    background-color: lightgray;
    font-weight: bold;
}

.accessable-day > div {
    padding: 10px;
    width: 100%;
    height: 100%;
}

#login-form label,
#new-input-form label {
    text-align: left;
}

#login-message {
    margin-top: 13px;
}

#header-date:hover a {
    cursor: default !important;
}

.time-picker input[type=number] {
    width: 25%;
    float: left;
}

#input_text {
    min-height: 150px;
}

#calendar-time-bar,
#calendar-inputs {
    border: 1px solid black;
    float: left;
    height: 1440px;
    margin-bottom: 25px;
    position: relative;
    padding: 10px;
}

#calendar-time-bar {
    width: 50px;
}

#calendar-inputs {
    width: calc(100% - 50px);
}

#calendar-inputs > div {
    position: absolute;
}

.calendar-input {
    width: calc(100% - 20px);
}

#input-note {

}

#input-date-info {

}

.button > .fa {
    margin-right: 20px;
}

#logout-button {
    background-color: green !important;
}

.input {
    width: 100%;
    color: white;
    padding: 10px;
    min-height: 220px !important;
}

.input h4 {
    color: white;
    font-size: 1.3em;
}

.top-bar .fa {
    margin-right: 15px;
}

.top-bar .title {
    color: white;
    font-size: 0.8125rem;
    padding: 8px 15px;
    cursor: pointer;
}

#users-table {
    width: 100%;
}

#users-table .fa {
    margin-right: inherit;
}

#users-table .button {
    margin-bottom: 0;
}

#users-table input[type=checkbox] {
    margin-bottom: 0;
}