<div class="large-12 medium-12 small-12 columns">
    <h1>{{day}}</h1>

    <button ng-click="newInput()" class="button small"><span class="fa fa-plus"></span>&nbsp;&nbsp;Nový záznam</button>
    <div ng-if="openNewInputForm" class="row">
        <div class="large-8 medium-8 small-12 columns">
            <form id="new-input-form">
                <div class="row">
                    <div class="large-2 medium-3 small-12 columns">
                        <label for="name" class="right inline">Název: </label>
                    </div>
                    <div class="large-10 medium-9 small-12 columns time-picker">
                        <input type="text" id="name" ng-model="input.name" placeholder="Název">
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-3 small-12 columns">
                        <label class="right inline">Od: </label>
                    </div>
                    <div class="large-10 medium-9 small-12 columns time-picker">
                        <input type="number" max="23" min="0" ng-model="input.from_h" id="from_h" value="0" />
                        <input type="number" max="59" min="0" ng-model="input.from_m" id="from_m" value="0" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-3 small-12 columns">
                        <label class="right inline">Od: </label>
                    </div>
                    <div class="large-10 medium-9 small-12 columns time-picker">
                        <input type="number" ng-model="input.to_h" max="23" min="0" id="to_h" value="0" />
                        <input type="number" ng-model="input.to_m" max="59" min="0" id="to_m" value="0" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <textarea placeholder="Poznámka" ng-model="input.text" id="input_text"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <button class="button small" id="add-new-input" ng-click="addInput(input)">Přidat</button>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="newInputMessage.length > 0" class="large-4 medium-4 small-12 columns">
            <div data-alert class="alert-box alert">
                {{newInputMessage}}
                <a href="#" class="close">&times;</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="input in inputs track by $index" class="large-3 medium-4 small-12 columns" style="float: left">
            <a href="#/den/{{dayUrl}}/zaznam/{{input.id}}" class="button input">
                <h4>{{input.name}}</h4>
                <p>{{input.time}}</p>
            </a>

            <!--<div id="calendar-layout">-->
                <!--<div id="calendar-time-bar">-->
                    <!--<div ng-repeat="i in range(24) track by $index">-->
                        <!--<div style="position: absolute; top: {{$index * 60 + 10}}px; left: 15px">{{$index}}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="calendar-inputs">-->
                    <!--<a href="#/den/{{dayUrl}}/zaznam/{{input.id}}" class="calendar-input button" ng-repeat="input in inputs" id="input-{{input.id}}" style="top: calc({{input.from_m}}px + 10px); height: calc({{input.to_m}}px - {{input.from_m}}px)">-->
                        <!--{{input.name}}-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>