<div class="large-12 medium-12 small-12 columns">
    <h1>{{day}}</h1>

    <button ng-click="newInput()" class="button small"><span class="fa fa-plus"></span>&nbsp;&nbsp;Nový záznam</button>
    <div ng-if="openNewInputForm" class="row">
        <div class="large-8 medium-8 small-12 columns">
            <form id="new-input-form">
                <div class="row">
                    <div class="large-2 medium-3 small-12 columns">
                        <label for="name" class="right inline">Název: </label>
                    </div>
                    <div class="large-10 medium-9 small-12 columns time-picker">
                        <input type="text" id="name" ng-model="input.name" placeholder="Název">
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-3 small-12 columns">
                        <label class="right inline">Od: </label>
                    </div>
                    <div class="large-10 medium-9 small-12 columns time-picker">
                        <select ng-model="input.from_h" id="from_h">
                            <option ng-repeat="i in range(24) track by $index" value="{{$index}}">{{$index}}</option>
                        </select>
                        <select ng-model="input.from_m" id="from_m">
                            <option ng-repeat="i in range(60) track by $index" value="{{$index}}">{{$index}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-3 small-12 columns">
                        <label class="right inline">Od: </label>
                    </div>
                    <div class="large-10 medium-9 small-12 columns time-picker">
                        <select ng-model="input.to_h" id="to_h">
                            <option ng-repeat="i in range(24) track by $index" value="{{$index}}" >{{$index}}</option>
                        </select>
                        <select ng-model="input.to_m" id="to_m">
                            <option ng-repeat="i in range(60) track by $index" value="{{$index}}">{{$index}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <textarea placeholder="Poznámka" ng-model="input.text" id="input_text"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <button class="button small" id="add-new-input" ng-click="addInput(input)">Přidat</button>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="newInputMessage.length > 0" class="large-4 medium-4 small-12 columns">
            <div data-alert class="alert-box alert">
                {{newInputMessage}}
                <a href="#" class="close">&times;</a>
            </div>
        </div>
    </div>
</div>