<div class="large-12 medium-12 small-12 columns">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h2>{{input.name}}</h2>
        </div>
        
        <div class="large-12 medium-12 small-12 columns">
            <a href="#/den/{{day}}" class="button primary small"><span class="fa fa-chevron-left"></span>Zpět</a>
            <button class="button primary small" ng-click="openEditForm()"><span class="fa fa-edit"></span>Upravit</button>
            <button class="button primary small" ng-click="deleteInput()"><span class="fa fa-times"></span>Smazat</button>
        </div>

        <div ng-if="!editMode" class="large-6 medium-6 small-12 columns">
            <div id="input-date-info" class="panel">
                {{input.date}}&nbsp;&nbsp;&nbsp;&nbsp;{{input.from}} - {{input.to}}
            </div>
        </div>

        <div ng-if="!editMode" class="large-6 medium-6 small-12 columns">
            <div ng-if="input.note != null && input.note != ''" id="input-note" class="panel">{{input.note}}</div>
        </div>

        <div ng-if="editMode" class="large-12 medium-12 small-12 columns">
            <div class="row">
                <div class="large-8 medium-8 small-12 columns">
                    <form id="new-input-form">
                        <div class="row">
                            <div class="large-2 medium-3 small-12 columns">
                                <label for="name" class="right inline">Název: </label>
                            </div>
                            <div class="large-10 medium-9 small-12 columns time-picker">
                                <input type="text" id="name" ng-model="editInput.name" placeholder="Název">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-2 medium-3 small-12 columns">
                                <label class="right inline">Od: </label>
                            </div>
                            <div class="large-10 medium-9 small-12 columns time-picker">
                                <input type="number" max="23" min="0" ng-model="editInput.from_h" id="from_h" >
                                <input type="number" max="59" min="0" ng-model="editInput.from_m" id="from_m" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-2 medium-3 small-12 columns">
                                <label class="right inline">Od: </label>
                            </div>
                            <div class="large-10 medium-9 small-12 columns time-picker">
                                <input type="number" ng-model="editInput.to_h" max="23" min="0" id="to_h" />
                                <input type="number" ng-model="editInput.to_m" max="59" min="0" id="to_m" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <textarea placeholder="Poznámka" ng-model="editInput.text" id="input_text"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <button class="button small" id="add-new-input" ng-click="editInputSave(editInput)">Uložit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-if="editInputMessage.length > 0" class="large-4 medium-4 small-12 columns">
                    <div data-alert class="alert-box alert">
                        {{editInputMessage}}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>